@{
    Layout = "IndexLayout.cshtml";
    ViewBag.Title = "Alarmanzeige";

    var config = AlarmWorkflow.Website.Reports.Areas.Display.Models.WebsiteConfiguration.Instance;
}

<!-- Page contents -->
<!-- Pane initially shown -->
<div id="paneLoading">
    <span>Lade, bitte warten...</span>
</div>
<!-- Pane to be displayed in case of an error-->
<div id="paneError">
    <span>Ein Fehler ist aufgetreten.<br /> Bitte sehen Sie in den Serverlogs nach.</span>
</div>
<!-- Pane to be displayed otherwise -->
<div id="paneOperation">
    @Html.Partial("~/Areas/Display/Views/Alarm/PartialAlarm.cshtml")
</div>
<!-- Pane to be displayed in case of no operation and no error-->
<div id="paneIdle">
    @Html.Partial("~/Areas/Display/Views/Alarm/PartialIdle.cshtml")
</div>

@section scripts {

    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"> </script>

    <script type="text/javascript">

        console.log("Setting configuration for javascript...");

        // Declare global variable for script usage.
        var config = {
            home: "@(config.Home)",
            mapTypeGoogle: @(config.MapTypeGoogle),
            showRoute: @(config.Route.ToString().ToLower()),
            updateIntervalMs: @(config.UpdateIntervalMs),
            useTilt: @(config.Tilt.ToString().ToLower()),
            useTraffic: @(config.Traffic.ToString().ToLower()),
            zoomControl: @(config.ZoomControl.ToString().ToLower()),
            zoomLevel: @((config.GoogleZoomLevel/100.0).ToString().Replace(',','.')),
            zoomLevelOSM: @(config.OSMZoomLevel),
        };

        console.log(config);

    </script>

    <script type="text/javascript" src="~/Areas/Display/Scripts/index.js"></script>
}